body {
    background-color: rgb(67, 208, 255);

}
.items{
    background-color: gray;
    border-radius: 0.5rem;
    padding:15px;
}
.info{
    background-color: lightblue;
    border-radius: 0.5rem;
}
.infocol{
    border: 2px black dashed;
}